asn1crypto==0.24.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
Django==2.2.24
djangorestframework==3.9.0
idna==2.7
numpy==1.15.2
open3d-python==0.3.0.0
pycparser==2.19
PyJWT==1.6.4
pyOpenSSL==18.0.0
PySocks==1.6.8
pytz==2018.5
requests==2.20.0
six==1.11.0
urllib3==1.23
win-inet-pton==1.0.1
wincertstore==0.2
gunicorn
